
//使用flex布局
.wechat-menu{

  .express{
  }

  .main-menu{
    border: 1px solid #000;
    span{
      border-right:1px solid #000 ;
      &:nth-last-child(1){
        border-right:transparent;
      }
    }
  }

  .sub-menu{

  }





}