.grey {
  color: "#2b2b9ce" !important; }

.greybg {
  background-color: "#2b2b9ce" !important; }

.greyborder {
  border-color: "#2b2b9ce" !important; }

.green {
  color: #76dcd8 !important; }

.greenbg {
  background-color: #76dcd8 !important; }

.greenborder {
  border-color: #76dcd8 !important; }

.blue {
  color: #80d1ff !important; }

.bluebg {
  background-color: #80d1ff !important; }

.blueborder {
  border-color: #80d1ff !important; }

.yellow {
  color: #f9e993 !important; }

.yellowbg {
  background-color: #f9e993 !important; }

.yellowborder {
  border-color: #f9e993 !important; }

.purple {
  color: #cec2ed !important; }

.purplebg {
  background-color: #cec2ed !important; }

.purpleborder {
  border-color: #cec2ed !important; }

.pink {
  color: #f1adc3 !important; }

.pinkbg {
  background-color: #f1adc3 !important; }

.pinkborder {
  border-color: #f1adc3 !important; }

.orange {
  color: #f8c0a9 !important; }

.orangebg {
  background-color: #f8c0a9 !important; }

.orangeborder {
  border-color: #f8c0a9 !important; }

.while {
  color: #FFFFFF !important; }

.whilebg {
  background-color: #FFFFFF !important; }

.whileborder {
  border-color: #FFFFFF !important; }

.brown {
  color: #FF9547 !important; }

.brownbg {
  background-color: #FF9547 !important; }

.brownborder {
  border-color: #FF9547 !important; }

.darkgreen {
  color: #19a29c !important; }

.darkgreenbg {
  background-color: #19a29c !important; }

.darkgreenborder {
  border-color: #19a29c !important; }
